.iconContainer {
  margin-top: 2.75rem;
}

.icon {
  width: 3.375rem;
  height: 3.375rem;
}

.remark {
  display: flex;
  margin-top: 1.25rem;
  line-height: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  margin-top: 3rem;
  width: 7.5rem;
}
