@value gainsboro from '../../components/styles/colors.css';

.root {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  width: 37.5rem;
  justify-content: center;
  padding: 0.5rem 0;
  border-bottom: solid 1px gainsboro;
}

.logo img {
  width: 9.125rem;
  height: 3.375rem;
}