@value gainsboro, paynesGrey from '../../components/styles/colors.css';
@value size12 from '../../components/styles/font.css';

.content {
  margin: 0 auto;
  max-width: 56.25rem;
  line-height: 1.4;
}

.term {
  margin-top: 1.875rem;
  padding: 0.625rem;
}

.termDetail {
  composes: size12;
  color: paynesGrey;
  margin-top: 1rem;
}
