@value gainsboro, paynesGrey, darkGrey from '../../components/styles/colors.css';
@value size12, size10, light from '../../components/styles/font.css';

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
  border-bottom: solid 1px gainsboro;
  margin-bottom: 3.5rem;
}

.content {
  margin: 0 auto;
  max-width: 56.25rem;
  line-height: 1.4;
}

.term {
  margin-top: 1.875rem;
  padding: 0.625rem;
}

.termDetail {
  composes: size12;
  color: paynesGrey;
  margin-top: 1rem;
}

.footer {
  composes: light;
  composes: size10;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
	height: 0.875rem;
	color: darkGrey;
}

