@value java, silverSand from '../styles/colors.css';
@value  from '../styles/colors.css';

.button {
  height: 3rem;
  width: 100%;
  padding: 0;
  cursor: pointer;
  outline: 0;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 2.5rem;
}

.disabled,
.disabled:hover,
.disabled:active,
.disabled:focus {
  font-size: 1.125rem;
  color: white;
  background-color: silverSand !important;
  box-shadow: none;
}