@value gainsboro, java from '../../components/styles/colors.css';
@value size14 from '../../components/styles/font.css';

.root {
  padding: 0 5rem;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  border-bottom: solid 1px gainsboro;
}

.logo img {
  width: 9.125rem;
  height: 3.375rem;
}

.content {
  composes: size14;
  margin-top: 2.25rem;
  line-height: 2;
  padding: 0 2.875rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.75rem;
}

.inputContainer input:last-of-type {
  margin-top: 0.875rem;
}

.resetInput {
  padding: 0.5rem;
}

.submitContainer {
  margin-top: 2.25rem;
  width: 7.5rem;
}

.button {
  border: none;
}

.button:active {
  border: none;
}

.button:focus {
  outline: none;
}

.smallButton {
  composes: button;
  composes: size14;
  background-color: java;
  color: white;
  height: 2.875rem;
  width: 100%;
  border-radius: 2.5rem;
}
