@value gainsboro, java, monza from '../../components/styles/colors.css';
@value size14 from '../../components/styles/font.css';

.content {
  composes: size14;
  margin-top: 2.25rem;
  line-height: 2;
  padding: 0 2.875rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.75rem;
}

.inputContainer input:last-of-type {
  margin-top: 0.875rem;
}

.resetInput {
  padding: 0.5rem;
}

.submitContainer {
  margin-top: 2.25rem;
  width: 7.5rem;
}

.button {
  border: none;
}

.button:active {
  border: none;
}

.button:focus {
  outline: none;
}

.smallButton {
  composes: button;
  composes: size14;
  background-color: java;
  color: white;
  height: 2.875rem;
  width: 100%;
  border-radius: 2.5rem;
}

.errorContainer {
  position: relative;
}

.error {
  position: absolute;
  right: 0;
  color: monza;
}

.hide {
  display: none;
}